<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pipes Test Website</title>
    <link rel="stylesheet" href="/assets/styles.css" type='text/css' />
  </head>
  <body>
    <%- include ('partials/nav.ejs') %>
    <h1>Welcome to the Website</h1>
    <p>This is just a test website for testing the functionality of pipes in NodeJS!!</p>
  </body>
</html>
